{% extends "base.html" %}

{% block content %}
<h1>Услуги</h1>

<h3>Подробная информация про все наши товары</h3>

 {% if product_list %}
    <p>Список товаров:</p>
    <ul>
      {%for product in product_list %}
          <li>Название: <a href="{{ product.get_absolute_url }}">{{ product.name }}</a></li>
          <li>Фотография: <img src="{{ product.tovar_photo.url }}" alt="Изображение товара" style="width: 200px;"></li>
      <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}